Gudulion.BackEnd/Gudulion.BackEnd/bin/
Gudulion.BackEnd/obj/
Gudulion.BackEnd/packages/
Gudulion.BackEnd/riderModule.iml
Gudulion.BackEnd/_ReSharper.Caches/
.idea/
.idea/.idea.Gudulion.BackEnd/.idea/dataSources.xml
Gudulion.BackEnd/obj/Debug/net7.0/Gudulion.BackEnd.assets.cache
Gudulion.BackEnd/obj/Debug/net7.0/Gudulion.BackEnd.csproj.AssemblyReference.cache
Gudulion.BackEnd/obj/project.nuget.cache
Gudulion.BackEnd/obj/rider.project.restore.info
Gudulion.BackEnd/bin/Debug/net7.0/Gudulion.BackEnd.deps.json
Gudulion.BackEnd/obj/Gudulion.BackEnd.csproj.nuget.dgspec.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild
.idea
*.dll
*bin/