Gudulion.BackEnd/Gudulion.BackEnd/bin/
Gudulion.BackEnd/Gudulion.BackEnd/obj/
Gudulion.BackEnd/Gudulion.BackEnd/packages/
Gudulion.BackEnd/Gudulion.BackEnd/riderModule.iml
Gudulion.BackEnd/Gudulion.BackEnd/_ReSharper.Caches/
Gudulion.BackEnd/.idea/